<h2>My Events</h2>
<a *ngIf="currentUserRole !== 'user'" routerLink="/events/create">+ Create New Event</a>
 <div class="filter-bar">
    <div *ngIf="!showFilter" (click)="toggle()" class="fil">Filter</div>

    <div *ngIf="showFilter" class="cont">
    <div  class="filter-form">
        <img src="../../../assets/close.png" style="width: 20px; height: 20px; cursor: pointer;"  (click)="toggle()" alt="">
      
       <select class="in" id="category-select" [(ngModel)]="filters.categoryId">
    <option value="">All Categories</option>
    <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
  </select>
      <label>
        <input class="in" type="number" [(ngModel)]="filters.maxPrice" placeholder="Enter max price" />
      </label>

      <label>
        <input class="in" type="number" [(ngModel)]="filters.minPrice" placeholder="Enter min price" />
      </label>
      <label>
        Time 
        <input class="in" type="time" [(ngModel)]="filters.time" />
      </label>

      <label>
        Date
        <input class="in" type="date" [(ngModel)]="filters.date" />
      </label>

      <button (click)="filter()">Apply Filter</button>
    </div>
    </div>

 
    <div *ngIf="!showFilter" style="display: flex; flex-direction: row; align-items: center;">
      <input [(ngModel)]="searhText" style="width: 300px; height: 30px; margin-right: 10px;" type="text">
      <p class="btn" (click)="search(searhText)">Search</p>
    </div>
  </div>



<div *ngIf="!loading && filteredEvents.length > 0 && !showFilter" class="venue-list">
  <div class="venue-card" *ngFor="let event of filteredEvents">

    <img [src]="event.image?.[0]" alt="{{ event.name }}" class="venue-image" />

    <div class="venue-content">
      <h3 class="venue-title" (click)="goToDetails(event._id)">
        {{ event.name }}
      </h3>
      <p class="venue-description">{{ event.description }}</p>

      <div class="venue-info">
        <p>
          <strong>Venue:</strong>
          <a [routerLink]="['/venues', event.venueId?._id]">
            {{ event.venueId?.name }}
          </a>
        </p>
      </div>

      <div class="venue-actions">
        <button *ngIf="currentUserRole !== 'user'" (click)="goToEdit(event._id)">
          Edit
        </button>
        <button *ngIf="currentUserRole !== 'user'" (click)="deleteEvent(event._id)">
          Delete
        </button>
        <!-- <button (click)="goToDetails(event._id)">Details</button> -->
      </div>
    </div>
  </div>
</div>



<!-- <div *ngFor="let event of events" class="event-card">
    <img [src]="event.image?.[0]" alt="{{ event.name }}" class="venue-image" />
    <p><strong>Name:</strong>{{ event.name }}</p>
    <p><strong>Description:</strong>{{ event.description }}</p>
    <p><strong>Category:</strong> {{ event.categoryId?.name }}</p>
    <p><strong>Venue:</strong> {{ event.venueId?.name }}</p>
    <p><strong>Price:</strong> {{ event.ticketPrice }} EGP</p>
    <p><strong>Date:</strong> {{ formatDate(event.date) }} - {{ event.time }}</p>
    
  </div> -->
<!-- </div> -->