<div class="venue-details" *ngIf="venue; else loading">
    <!-- Main Image -->
    <div class="main-image">
        <img *ngIf="venue.images.length > 0; else noImage" [src]="venue.images[0]" alt="Venue Image" />
        <ng-template #noImage>
            <div class="placeholder">No Image</div>
        </ng-template>
    </div>

    <!-- Venue Info -->
    <div class="venue-info">
        <h2>{{ venue.name }}</h2>
        <p class="category">Category: {{ categoryName }}</p>
        <p class="description">{{ venue.description }}</p>

        <!-- Location -->
        <div class="location">
            <strong>Location:</strong>
            <a [href]="'https://www.google.com/maps?q=' + venue.location.x + ',' + venue.location.y" target="_blank"
                rel="noopener noreferrer">
                View on Google Maps
            </a>
        </div>


        <!-- Availability -->
        <div class="availability">
            <strong>Availability:</strong>
            {{ venue.availability.openTime }} - {{ venue.availability.closeTime }},
            Days: {{ venue.availability.days.join(', ') }}
        </div>

        <!-- Capacity -->
        <div class="details">
            <span><strong>Capacity:</strong> {{ venue.capacity }}</span>
        </div>

        <!-- Price -->
        <div class="details">
            <span><strong>Price per Hour:</strong> {{ venue.pricePerHour | currency:'EGP':'symbol' }}</span>
        </div>

        <!-- Features -->
        <div class="features">
            <strong>Features:</strong>
            <span class="feature-tag" *ngFor="let feature of venue.features">{{ feature }}</span>
        </div>

        <div *ngIf="currentUserRole === 'organizer' " class="con">
            <button (click)="addToCart(venue._id ,venue.availability.openTime ,venue.availability.closeTime)">Add to
                Cart</button>

            <div>
                <button class="com" (click)="toggleComment()"> comment </button>
            </div>
        </div>

        <div *ngIf="showComments">
            <app-review [postId]="venue._id" [postType]="'Venue'"></app-review>
        </div>

    </div>
</div>

<ng-template #loading>
    <p>Loading venue details...</p>
</ng-template>